.Resizer {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    
    z-index: 1;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.Resizer.horizontal {
    height: 2px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin-left: 0px;
    margin-right: 0px;

    cursor: row-resize;
    width: 100%;
}

.Resizer.vertical {
    width: 2px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-top: 0px;
    margin-bottom: 0px;

    cursor: col-resize;
    height: 100%;
}

.vertical section {
    width: 100vh;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.vertical header {
    padding: 1rem;
    background: #eee;
}

.vertical footer {
    padding: 1rem;
    background: #eee;
}

.horizontal section {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.horizontal header {
    padding: 1rem;
    background: #eee;
}

.horizontal footer {
    padding: 1rem;
    background: #eee;
}