/*  ======
    BODY & H
    ======= */

body {
    color: #DFDFDF;
    background-color: #1B1C1D;
}

.theme.black h1,
.theme.black h2,
.theme.black h3,
.theme.black h4,
.theme.black h5,
.theme.black h6 {
    color: #DFDFDF;
}

.theme.black h1.dividing,
.theme.black h2.dividing,
.theme.black h3.dividing,
.theme.black h4.dividing,
.theme.black h5.dividing,
.theme.black h6.dividing {
    border-bottom-color: #DFDFDF;
}

/*  ======
    SPLIT PANE
    ======= */

.theme.black .Resizer {
    background: #ABACAD;
    opacity: 1;
}

.theme.black .Resizer.vertical{
    width: 11px;

    border-left: 5px solid #1B1C1D;
    border-right: 5px solid #1B1C1D;
}
.theme.black .Resizer.vertical:hover{
    background: #FFFFFF;
    z-index: 2;
}

.theme.black .Resizer.horizontal{
    height: 11px;

    border-top: 5px solid #1B1C1D;
    border-bottom: 5px solid #1B1C1D;
}
.theme.black .Resizer.horizontal:hover{
    background: #FFFFFF;
    z-index: 2;
}

/*  ======
    TAB
    ======= */

.main.theme.black > .ui.top.tabular a.item{
    background: #AFAFAF;
}
.main.theme.black > .ui.top.tabular a.item.active{
    background: #FFFFFF;
}
.main.theme.black > .ui.top.tabular a.item:hover{
    background: #DFDFDF;
}

.main.theme.black > .ui.bottom.tab {
    background: #1B1C1D;
}