/*  ======
    BODY & H
    ======= */

body {
    color: #DFDFDF;
    background-color: #1B1C1D;
}

.theme.black h1,
.theme.black h2,
.theme.black h3,
.theme.black h4,
.theme.black h5,
.theme.black h6 {
    color: #DFDFDF;
}

.theme.black h1.dividing,
.theme.black h2.dividing,
.theme.black h3.dividing,
.theme.black h4.dividing,
.theme.black h5.dividing,
.theme.black h6.dividing {
    border-bottom-color: #DFDFDF;
}

/*  ======
    SCROLLBAR
    ======= */
::-webkit-scrollbar-track-piece,
.theme.black .ui.tab::-webkit-scrollbar-track-piece {
    background-color:#404040;
}
::-webkit-scrollbar-track-piece:hover,
.theme.black .ui.tab::-webkit-scrollbar-track-piece:hover {
    background-color:#606060;
}
::-webkit-scrollbar-thumb,
.theme.black .ui.tab::-webkit-scrollbar-thumb {
    background:#AAAAAA;
}
::-webkit-scrollbar-thumb:hover,
.theme.black .ui.tab::-webkit-scrollbar-thumb:hover {
    background:#DFDFDF;
}

/*  ======
    SPLIT PANE
    ======= */

.theme.black .Resizer {
    background-color: #ABACAD;
}
.theme.black .Resizer.vertical:hover{
    background-color: #FFFFFF;
    z-index: 2;
}
.theme.black .Resizer.horizontal:hover{
    background-color: #FFFFFF;
    z-index: 2;
}

/*  ======
    TAB
    ======= */

.main.theme.black .ui.top.tabular a.item{
    background: #AFAFAF;
}
.main.theme.black .ui.top.tabular a.item.active{
    background: #FFFFFF;
}
.main.theme.black .ui.top.tabular a.item:hover{
    background: #DFDFDF;
}
.main.theme.black .ui.top.tabular a.item > i.close:hover{
    color: #880000;
}

.main.theme.black .ui.bottom.tab {
    background: #1B1C1D;
}

/*  ======
    CARD
    ======= */

.main.theme.black .ui.cards > .card,
.main.theme.black .ui.card{
    color: #DFDFDF;
    background-color: #1B1C1D;
    box-shadow: 0px 1px 3px 0px #AAAAAA, 0px 0px 0px 1px #AAAAAA;
}
.main.theme.black .ui.cards > .card > .content,
.main.theme.black .ui.card > .content{
    color: #DFDFDF;
    border-top-color: #AAAAAA;
}
.main.theme.black .ui.cards > .card > .content > .header,
.main.theme.black .ui.card > .content > .header{
    color: #DFDFDF;
}
.main.theme.black .ui.cards > .card > .content > .meta,
.main.theme.black .ui.card > .content > .meta{
    color: #AAAAAA;
}


/*  ======
    SIDEBAR MENU
    ======= */

.main.theme.black .ui.sidebar {
    color: #DFDFDF;
    border-color: #DFDFDF;
    background-color: #1B1C1D;
}
.main.theme.black .ui.sidebar .item {
    color: #AAAAAA;
    border-color: #DFDFDF;
}
.main.theme.black .ui.sidebar .item:before {
    background: #606060;
}
.main.theme.black .ui.sidebar .item:hover {
    color: #FFFFFF;
    background: #AAAAAA;
}

.main.theme.black .ui.sidebar .item.active {
    color: #FFFFFF;
}

/*  ======
    LIST
    ======= */

.main.theme.black .ui.list .item{
    color: #AAAAAA;
}
.main.theme.black .ui.list .item > .icon, 
.main.theme.black .ui.list .item > .content,
.main.theme.black .ui.list .item > .content > .header,
.main.theme.black .ui.list .item > .content > a.header {
    color: #AAAAAA !important;
}

.main.theme.black .ui.list .item.active > .icon, 
.main.theme.black .ui.list .item.active > .content,
.main.theme.black .ui.list .item.active > .content > .header {
    color: #FFFFFF !important;
}

.main.theme.black .ui.list .item:hover > .icon,
.main.theme.black .ui.list .item:hover > .content,
.main.theme.black .ui.list .item:hover > .content > .header{
    color: #FFFFFF;
}