/*  ======
    BODY
    ======= */

body {
    color: white;
    background-color: #1B1C1D;
}

/*  ======
    SPLIT PANE
    ======= */

.theme.black .Resizer {
    background: #ABACAD;
    opacity: 1;
}

.theme.black .Resizer.vertical{
    width: 11px;

    border-left: 5px solid #1B1C1D;
    border-right: 5px solid #1B1C1D;
}
.theme.black .Resizer.vertical:hover{
    background: #FFFFFF;
    z-index: 2;
}

.theme.black .Resizer.horizontal{
    height: 11px;

    border-top: 5px solid #1B1C1D;
    border-bottom: 5px solid #1B1C1D;
}
.theme.black .Resizer.horizontal:hover{
    background: #FFFFFF;
    z-index: 2;
}

/*  ======
    TAB
    ======= */

.main.theme.black > .ui.top.tabular a.item{
    background: #AFAFAF;
}
.main.theme.black > .ui.top.tabular a.item.active{
    background: #FFFFFF;
}
.main.theme.black > .ui.top.tabular a.item:hover{
    background: #DFDFDF;
}

.main.theme.black > .ui.bottom.tab {
    background: #1B1C1D;
}