@import "~font-awesome/css/font-awesome.css";
@import '../semantic/dist/semantic.css';
@import './css/react-redux-toastr.min.css';
@import './css/splitpane.css';
@import './css/theme.css';

body{
    font-family: Arial, Helvetica, Helvetica Neue, serif;
}

/*  ======
    MAIN & TAB
    ======= */

.main {
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}

.main > .ui.top.tabular {
    flex: 0 1 auto;
}

.main > .ui.top.tabular a.item{
    padding: 4px 8px;
}
.main > .ui.top.tabular a.item.wide{
    padding: 4px 16px;
}

.main > .ui.top.tabular a.item > i.close{
    visibility: hidden;
    margin-left: 8px;
    margin-right: 0px;
}
.main > .ui.top.tabular a.item:hover > i.close{
    visibility: visible;
}

.main > .ui.bottom.tab{
    flex: 1 1 auto;
    overflow: auto;
    margin-bottom: 0px;
}


/*  ======
    RESULT PANEL TAB
    ======= */

.result-panel{
    margin: 8px;
}

.result-panel > .ui.top.tabular {
    flex: 0 1 auto;
}

.result-panel > .ui.top.tabular.menu {
    flex: 0 1 auto;
    min-height: 24px;
}

.result-panel > .ui.top.tabular a.item{
    padding: 4px 8px;
}

.result-panel > .ui.top.tabular a.item > i.close{
    visibility: hidden;
    margin-left: 8px;
    margin-right: 0px;
}
.result-panel > .ui.top.tabular a.item:hover > i.close{
    visibility: visible;
}

.result-panel > .ui.bottom.tab{
    flex: 1 1 auto;
    overflow: auto;
    margin-bottom: 0px;
}