@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: white;
  background-color: #1B1C1D;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}