@import "~font-awesome/css/font-awesome.css";
@import '../semantic/dist/semantic.css';
@import './css/splitpane.css';
@import './css/splitpane.theme.css';

body {
  color: white;
  background-color: #1B1C1D;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}